In [1]:
paragraph = '''Messi relocated to Spain and joined Barcelona aged 13, making his competitive debut at age 17 in October 2004. He established himself as an integral player for the club within the next three years, and in his first uninterrupted season in 2008–09 helped Barcelona achieve the first treble in Spanish football; that year, aged 22, Messi won his first Ballon d'Or. Messi won four consecutive Ballons d'Or, the first player to win it four times. During the 2011–12 season, he set La Liga and European records for most goals in a season, while establishing himself as Barcelona's all-time top scorer. The following two seasons, he finished second for the Ballon d'Or behind Cristiano Ronaldo, his perceived career rival, before regaining his best form during the 2014–15 campaign, becoming the all-time top scorer in La Liga and leading Barcelona to a historic second treble, and was awarded a fifth Ballon d'Or in 2015. Messi assumed captaincy of Barcelona in 2018, and won a record sixth Ballon d'Or in 2019. He signed for French club Paris Saint-Germain in August 2021, spending two seasons there and winning Ligue 1 twice. Messi joined American club Inter Miami in July 2023, winning the Leagues Cup in August.'''

In [2]:
paragraph

"Messi relocated to Spain and joined Barcelona aged 13, making his competitive debut at age 17 in October 2004. He established himself as an integral player for the club within the next three years, and in his first uninterrupted season in 2008–09 helped Barcelona achieve the first treble in Spanish football; that year, aged 22, Messi won his first Ballon d'Or. Messi won four consecutive Ballons d'Or, the first player to win it four times. During the 2011–12 season, he set La Liga and European records for most goals in a season, while establishing himself as Barcelona's all-time top scorer. The following two seasons, he finished second for the Ballon d'Or behind Cristiano Ronaldo, his perceived career rival, before regaining his best form during the 2014–15 campaign, becoming the all-time top scorer in La Liga and leading Barcelona to a historic second treble, and was awarded a fifth Ballon d'Or in 2015. Messi assumed captaincy of Barcelona in 2018, and won a record sixth Ballon d'Or in 2019. He signed for French club Paris Saint-Germain in August 2021, spending two seasons there and winning Ligue 1 twice. Messi joined American club Inter Miami in July 2023, winning the Leagues Cup in August."

In [3]:
import nltk

In [4]:
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

## Tokenization
##### paragraph
##### sentences
##### words

In [5]:
nltk.download('punkt')
sentences = nltk.sent_tokenize(paragraph)

[nltk_data] Downloading package punkt to C:\Users\Dear
[nltk_data]     User\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [6]:
sentences

['Messi relocated to Spain and joined Barcelona aged 13, making his competitive debut at age 17 in October 2004.',
 "He established himself as an integral player for the club within the next three years, and in his first uninterrupted season in 2008–09 helped Barcelona achieve the first treble in Spanish football; that year, aged 22, Messi won his first Ballon d'Or.",
 "Messi won four consecutive Ballons d'Or, the first player to win it four times.",
 "During the 2011–12 season, he set La Liga and European records for most goals in a season, while establishing himself as Barcelona's all-time top scorer.",
 "The following two seasons, he finished second for the Ballon d'Or behind Cristiano Ronaldo, his perceived career rival, before regaining his best form during the 2014–15 campaign, becoming the all-time top scorer in La Liga and leading Barcelona to a historic second treble, and was awarded a fifth Ballon d'Or in 2015.",
 "Messi assumed captaincy of Barcelona in 2018, and won a record sixth Ballon d'Or in 2019.",
 'He signed for French club Paris Saint-Germain in August 2021, spending two seasons there and winning Ligue 1 twice.',
 'Messi joined American club Inter Miami in July 2023, winning the Leagues Cup in August.']

In [7]:
stemmer = PorterStemmer()

In [8]:
stemmer.stem('going')

'go'

In [9]:
stemmer.stem('classes')

'class'

In [10]:
from nltk.stem import WordNetLemmatizer

In [11]:
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to C:\Users\Dear
[nltk_data]     User\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [12]:
lemmatizer.lemmatize('historically')

'historically'

In [13]:
lemmatizer.lemmatize('historical')

'historical'

In [14]:
lemmatizer.lemmatize('went')

'went'

In [15]:
lemmatizer.lemmatize('goes')

'go'

In [16]:
import re
corpus = []

In [17]:
for i in range(len(sentences)):
    review = re.sub('[^a-zA-Z]', ' ', sentences[i])
    review = review.lower()
    corpus.append(review)

In [18]:
corpus

['messi relocated to spain and joined barcelona aged     making his competitive debut at age    in october      ',
 'he established himself as an integral player for the club within the next three years  and in his first uninterrupted season in         helped barcelona achieve the first treble in spanish football  that year  aged     messi won his first ballon d or ',
 'messi won four consecutive ballons d or  the first player to win it four times ',
 'during the         season  he set la liga and european records for most goals in a season  while establishing himself as barcelona s all time top scorer ',
 'the following two seasons  he finished second for the ballon d or behind cristiano ronaldo  his perceived career rival  before regaining his best form during the         campaign  becoming the all time top scorer in la liga and leading barcelona to a historic second treble  and was awarded a fifth ballon d or in      ',
 'messi assumed captaincy of barcelona in       and won a record sixth ballon d or in      ',
 'he signed for french club paris saint germain in august       spending two seasons there and winning ligue   twice ',
 'messi joined american club inter miami in july       winning the leagues cup in august ']

In [19]:
for i in corpus:
    words = nltk.word_tokenize(i)
    for word in words:
        if word not in set(stopwords.words('english')):
            print(stemmer.stem(word))

messi
reloc
spain
join
barcelona
age
make
competit
debut
age
octob
establish
integr
player
club
within
next
three
year
first
uninterrupt
season
help
barcelona
achiev
first
trebl
spanish
footbal
year
age
messi
first
ballon
messi
four
consecut
ballon
first
player
win
four
time
season
set
la
liga
european
record
goal
season
establish
barcelona
time
top
scorer
follow
two
season
finish
second
ballon
behind
cristiano
ronaldo
perceiv
career
rival
regain
best
form
campaign
becom
time
top
scorer
la
liga
lead
barcelona
histor
second
trebl
award
fifth
ballon
messi
assum
captainci
barcelona
record
sixth
ballon
sign
french
club
pari
saint
germain
august
spend
two
season
win
ligu
twice
messi
join
american
club
inter
miami
juli
win
leagu
cup
august

In [20]:
for i in corpus:
    words = nltk.word_tokenize(i)
    for word in words:
        if word not in set(stopwords.words('english')):
            print(lemmatizer.lemmatize(word))

messi
relocated
spain
joined
barcelona
aged
making
competitive
debut
age
october
established
integral
player
club
within
next
three
year
first
uninterrupted
season
helped
barcelona
achieve
first
treble
spanish
football
year
aged
messi
first
ballon
messi
four
consecutive
ballons
first
player
win
four
time
season
set
la
liga
european
record
goal
season
establishing
barcelona
time
top
scorer
following
two
season
finished
second
ballon
behind
cristiano
ronaldo
perceived
career
rival
regaining
best
form
campaign
becoming
time
top
scorer
la
liga
leading
barcelona
historic
second
treble
awarded
fifth
ballon
messi
assumed
captaincy
barcelona
record
sixth
ballon
signed
french
club
paris
saint
germain
august
spending
two
season
winning
ligue
twice
messi
joined
american
club
inter
miami
july
winning
league
cup
august

In [26]:
# Bag of Words
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(2,3))

In [27]:
x = cv.fit_transform(corpus)

In [28]:
cv.vocabulary_

{'messi relocated': 197,
 'relocated to': 229,
 'to spain': 294,
 'spain and': 259,
 'and joined': 18,
 'joined barcelona': 177,
 'barcelona aged': 47,
 'aged making': 4,
 'making his': 191,
 'his competitive': 143,
 'competitive debut': 75,
 'debut at': 83,
 'at age': 34,
 'age in': 2,
 'in october': 164,
 'messi relocated to': 198,
 'relocated to spain': 230,
 'to spain and': 295,
 'spain and joined': 260,
 'and joined barcelona': 19,
 'joined barcelona aged': 178,
 'barcelona aged making': 48,
 'aged making his': 5,
 'making his competitive': 192,
 'his competitive debut': 144,
 'competitive debut at': 76,
 'debut at age': 84,
 'at age in': 35,
 'age in october': 3,
 'he established': 128,
 'established himself': 88,
 'himself as': 138,
 'as an': 28,
 'an integral': 12,
 'integral player': 169,
 'player for': 219,
 'for the': 114,
 'the club': 273,
 'club within': 73,
 'within the': 319,
 'the next': 282,
 'next three': 206,
 'three years': 288,
 'years and': 329,
 'and in': 16,
 'in his': 158,
 'his first': 145,
 'first uninterrupted': 104,
 'uninterrupted season': 307,
 'season in': 241,
 'in helped': 156,
 'helped barcelona': 136,
 'barcelona achieve': 45,
 'achieve the': 0,
 'the first': 275,
 'first treble': 102,
 'treble in': 302,
 'in spanish': 167,
 'spanish football': 261,
 'football that': 108,
 'that year': 265,
 'year aged': 327,
 'aged messi': 6,
 'messi won': 199,
 'won his': 323,
 'first ballon': 98,
 'ballon or': 40,
 'he established himself': 129,
 'established himself as': 89,
 'himself as an': 139,
 'as an integral': 29,
 'an integral player': 13,
 'integral player for': 170,
 'player for the': 220,
 'for the club': 116,
 'the club within': 274,
 'club within the': 74,
 'within the next': 320,
 'the next three': 283,
 'next three years': 207,
 'three years and': 289,
 'years and in': 330,
 'and in his': 17,
 'in his first': 159,
 'his first uninterrupted': 147,
 'first uninterrupted season': 105,
 'uninterrupted season in': 308,
 'season in helped': 242,
 'in helped barcelona': 157,
 'helped barcelona achieve': 137,
 'barcelona achieve the': 46,
 'achieve the first': 1,
 'the first treble': 277,
 'first treble in': 103,
 'treble in spanish': 303,
 'in spanish football': 168,
 'spanish football that': 262,
 'football that year': 109,
 'that year aged': 266,
 'year aged messi': 328,
 'aged messi won': 7,
 'messi won his': 201,
 'won his first': 324,
 'his first ballon': 146,
 'first ballon or': 99,
 'won four': 321,
 'four consecutive': 119,
 'consecutive ballons': 77,
 'ballons or': 43,
 'or the': 213,
 'first player': 100,
 'player to': 221,
 'to win': 296,
 'win it': 313,
 'it four': 173,
 'four times': 121,
 'messi won four': 200,
 'won four consecutive': 322,
 'four consecutive ballons': 120,
 'consecutive ballons or': 78,
 'ballons or the': 44,
 'or the first': 214,
 'the first player': 276,
 'first player to': 101,
 'player to win': 222,
 'to win it': 297,
 'win it four': 314,
 'it four times': 174,
 'during the': 85,
 'the season': 284,
 'season he': 239,
 'he set': 132,
 'set la': 253,
 'la liga': 181,
 'liga and': 187,
 'and european': 14,
 'european records': 92,
 'records for': 225,
 'for most': 112,
 'most goals': 204,
 'goals in': 126,
 'in season': 165,
 'season while': 243,
 'while establishing': 311,
 'establishing himself': 90,
 'as barcelona': 30,
 'barcelona all': 49,
 'all time': 8,
 'time top': 290,
 'top scorer': 298,
 'during the season': 87,
 'the season he': 285,
 'season he set': 240,
 'he set la': 133,
 'set la liga': 254,
 'la liga and': 182,
 'liga and european': 188,
 'and european records': 15,
 'european records for': 93,
 'records for most': 226,
 'for most goals': 113,
 'most goals in': 205,
 'goals in season': 127,
 'in season while': 166,
 'season while establishing': 244,
 'while establishing himself': 312,
 'establishing himself as': 91,
 'himself as barcelona': 140,
 'as barcelona all': 31,
 'barcelona all time': 50,
 'all time top': 9,
 'time top scorer': 291,
 'the following': 278,
 'following two': 106,
 'two seasons': 304,
 'seasons he': 245,
 'he finished': 130,
 'finished second': 96,
 'second for': 249,
 'the ballon': 269,
 'or behind': 210,
 'behind cristiano': 59,
 'cristiano ronaldo': 79,
 'ronaldo his': 233,
 'his perceived': 148,
 'perceived career': 217,
 'career rival': 67,
 'rival before': 231,
 'before regaining': 57,
 'regaining his': 227,
 'his best': 141,
 'best form': 61,
 'form during': 117,
 'the campaign': 271,
 'campaign becoming': 63,
 'becoming the': 55,
 'the all': 267,
 'scorer in': 237,
 'in la': 162,
 'and leading': 20,
 'leading barcelona': 183,
 'barcelona to': 53,
 'to historic': 292,
 'historic second': 150,
 'second treble': 251,
 'treble and': 300,
 'and was': 22,
 'was awarded': 309,
 'awarded fifth': 38,
 'fifth ballon': 94,
 'or in': 212,
 'the following two': 279,
 'following two seasons': 107,
 'two seasons he': 305,
 'seasons he finished': 246,
 'he finished second': 131,
 'finished second for': 97,
 'second for the': 250,
 'for the ballon': 115,
 'the ballon or': 270,
 'ballon or behind': 41,
 'or behind cristiano': 211,
 'behind cristiano ronaldo': 60,
 'cristiano ronaldo his': 80,
 'ronaldo his perceived': 234,
 'his perceived career': 149,
 'perceived career rival': 218,
 'career rival before': 68,
 'rival before regaining': 232,
 'before regaining his': 58,
 'regaining his best': 228,
 'his best form': 142,
 'best form during': 62,
 'form during the': 118,
 'during the campaign': 86,
 'the campaign becoming': 272,
 'campaign becoming the': 64,
 'becoming the all': 56,
 'the all time': 268,
 'top scorer in': 299,
 'scorer in la': 238,
 'in la liga': 163,
 'liga and leading': 189,
 'and leading barcelona': 21,
 'leading barcelona to': 184,
 'barcelona to historic': 54,
 'to historic second': 293,
 'historic second treble': 151,
 'second treble and': 252,
 'treble and was': 301,
 'and was awarded': 23,
 'was awarded fifth': 310,
 'awarded fifth ballon': 39,
 'fifth ballon or': 95,
 'ballon or in': 42,
 'messi assumed': 193,
 'assumed captaincy': 32,
 'captaincy of': 65,
 'of barcelona': 208,
 'barcelona in': 51,
 'in and': 152,
 'and won': 26,
 'won record': 325,
 'record sixth': 223,
 'sixth ballon': 257,
 'messi assumed captaincy': 194,
 'assumed captaincy of': 33,
 'captaincy of barcelona': 66,
 'of barcelona in': 209,
 'barcelona in and': 52,
 'in and won': 153,
 'and won record': 27,
 'won record sixth': 326,
 'record sixth ballon': 224,
 'sixth ballon or': 258,
 'he signed': 134,
 'signed for': 255,
 'for french': 110,
 'french club': 122,
 'club paris': 71,
 'paris saint': 215,
 'saint germain': 235,
 'germain in': 124,
 'in august': 154,
 'august spending': 36,
 'spending two': 263,
 'seasons there': 247,
 'there and': 286,
 'and winning': 24,
 'winning ligue': 315,
 'ligue twice': 190,
 'he signed for': 135,
 'signed for french': 256,
 'for french club': 111,
 'french club paris': 123,
 'club paris saint': 72,
 'paris saint germain': 216,
 'saint germain in': 236,
 'germain in august': 125,
 'in august spending': 155,
 'august spending two': 37,
 'spending two seasons': 264,
 'two seasons there': 306,
 'seasons there and': 248,
 'there and winning': 287,
 'and winning ligue': 25,
 'winning ligue twice': 316,
 'messi joined': 195,
 'joined american': 175,
 'american club': 10,
 'club inter': 69,
 'inter miami': 171,
 'miami in': 202,
 'in july': 160,
 'july winning': 179,
 'winning the': 317,
 'the leagues': 280,
 'leagues cup': 185,
 'cup in': 81,
 'messi joined american': 196,
 'joined american club': 176,
 'american club inter': 11,
 'club inter miami': 70,
 'inter miami in': 172,
 'miami in july': 203,
 'in july winning': 161,
 'july winning the': 180,
 'winning the leagues': 318,
 'the leagues cup': 281,
 'leagues cup in': 186,
 'cup in august': 82}

In [29]:
x[0].toarray()

array([[0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0]], dtype=int64)

In [49]:
## TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(ngram_range=(2, 3))
x = tfidf.fit_transform(corpus)

In [50]:
corpus[0]

'messi relocated to spain and joined barcelona aged     making his competitive debut at age    in october      '

In [51]:
x[0].toarray()

array([[0.        , 0.        , 0.18569534, 0.18569534, 0.18569534,
        0.18569534, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.18569534, 0.18569534,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.18569534,
        0.18569534, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.18569534, 0.18569534, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.18569534, 0.18569534, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.18569534, 0.18569534,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.18569534, 0.18569534,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.18569534,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.18569534, 0.18569534, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.18569534, 0.18569534, 0.        , 0.        ,
        0.        , 0.        , 0.18569534, 0.18569534, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.18569534,
        0.18569534, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.18569534,
        0.18569534, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.18569534,
        0.18569534, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ]])